$color-light: #fff;
$color-dark: #333;
$color-grey: #888;
$color-grey-light: #efefef;
$color-gold: #FED136;
$color-gold-dark: #B8860B;
$font-text: 'Noto Serif', serif;
$font-logo: 'Great Vibes', cursive;
$font-header: 'Montserrat', sans-serif;

body {
    margin: 0;
    font-family: $font-text;
}
.text-center {
    text-align: center;
}
.bg-grey-light {
    background: $color-grey-light;
}
a {
    text-decoration: none;
    color: $color-dark;
}
section {
    padding: 85px 0;
}
.section-title {
    font-family: $font-header;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
.section-subtitle {
    font-style: italic;
    color: $color-grey;
    margin: 10px 0 30px 0;
    font-size: 16px;
}
.icon-box {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    border: 4px solid $color-gold;
    border-radius: 50%;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color-gold;
    }
}
.image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s;
    }
}
.box-title {
    font-family: $font-header;
    font-size: 18px;
}
.box-description {
    font-size: 14px;
    line-height: 1.7;
    color: $color-grey;

}
.btn {
    display: inline-block;
    font-family: $font-header;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-light;
    border: 1px solid $color-light;
    border-radius: 5px;
    padding: 20px 60px;
}
.btn-primary {
    background: $color-gold;
    border-color: $color-gold;
    &:hover {
        background: $color-gold-dark;
    }
}

/* Navigation */
.navbar {
    position: absolute;
    width: 100%;
    background: $color-light;
    z-index: 1;
    .row {
        padding: 15px 0;
    }
    .navbar-brand {
        font-family: $font-logo;
        font-size: 36px;
        color: $color-gold;
        margin: 0 0 0 30px;
    }
    .navbar-menu {
        display: flex;
        margin: 0;
        list-style-type: none;
        margin: 0 0 0 auto;
        padding: 0;
        .navbar-item {
            display: flex;
            padding: 5px 25px;
        }
    }
    .navbar-link {
        font-family: $font-header;
        font-weight: 700;
        margin: auto 0;
        text-transform: uppercase;
        &:hover {
            color: $color-gold;
        }
    }
    #mobile-menu {
        display:none;
    }
    label[for=mobile-menu-button] {
        margin: auto 30px auto auto;
        font-size: 24px;
    }
    input.mobile-menu {
        display: none;
        &:checked ~ #mobile-menu {
            display: block;
            width: 100%;
            padding: 15px 0;
            li {
                text-align: right;
                a {
                    display: block;
                    margin: 0 0 0 auto;
                    padding: 5px 0;
                }
            }
        }
    }
}

/* Main */
.main {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
    }
    .title {
        font-family: $font-text;
        font-size: 36px;
        font-style: italic;
        color: $color-light;
        margin: 0;
    }
    .subtitle {
        font-family: $font-header;
        font-size: 48px;
        text-transform: uppercase;
        color: $color-light;
        margin: 25px 0;
        letter-spacing: 5px;
    }
}

/* Services */
.services {
    .services-box {
        padding: 45px 30px 0 30px;
        &:hover .icon-box{
            background: $color-gold;
            i {
                color: $color-light;
            }
        }
    }
    .icon-box {
        i {
            font-size: 32px;
        }
    }
}

/* Portfolio */
.portfolio-box {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    .info-box {
        background: $color-light;
        padding: 30px;
        .box-title, .box-description {
            margin: 0;
        }
        .box-description {
            font-size: 12px;
            font-style: italic;
        }
    }
    &:hover .image-box img {
        transform: scale(1.50);
    }
}

/* Footer */
footer {
    padding: 30px 0;
    .row {
        align-items: center;
    }
    .icon-box {
        display: inline-block;
        width: 45px;
        height: 45px;
        border: 0;
        background: $color-dark;
        i {
            color: $color-light;
        }
        &:hover {
            background: $color-gold;
        }
    }
}

/* Responsives */
@media (min-width: 768px) {
    .navbar {
        background: transparent;
        padding: 35px 0;
        color: $color-light;
        a {
            color: $color-light;
        }
        .navbar-menu .navbar-item {
            padding: 5px 20px;
        }
        .mobile-button, label[for=mobile-menu-button] {
            display:none;
        }
        #mobile-menu {
            display: flex !important;
        }
        input.mobile-menu {
            &:checked ~ #mobile-menu {
                display: flex;
                width: auto;
                padding: 0;
            }
        }
    }
    .main .subtitle {
        font-size: 64px;
    }
}